.max-width{max-width: 1000px; margin:auto;}
.img-size{width: 80px;}
.margint-top{margin: 30px 0 0;}
.btn-max-width{max-width: 150px;}

@media screen and (max-width: 779px) {
    .margint-top{margin: 0 0 10px;}
}